section.form-container{
    margin-top: 80px;
    min-height: 50vh;
    background-color: #ffffff;
    box-shadow: 0 0 9px rgba(0,0,0,0.3)
}
section.form-container .img-logo {
    max-width: 200px;
}
section.form-container label {
    margin-left: 0px;
}
.multiple-item-container{
    background: #ddd;
    padding: 5px;
    margin: 10px 5px;
}
.multiple-item-container span{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    padding: 5px 10px;
    display: inline-block;
    margin: 5px;
    font-size: 12px;
}
body .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #3c8dbc;
    border-color: #367fa9;
    padding: 1px 10px;
    color: #fff;
}
body .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #000;
}
body .select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px solid #d2d6de;
    outline: 0;
}
body .select2-container .select2-selection--single {
    height: 36px;
}
.centerLogo {
    text-align: center;
}

.img-logo {
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
}

.img-logo img {
    width: 100%;
}

.btn-logo-edit {
    bottom: 0px;
    width: 100%;
    max-width: 200px;
    margin: 10px auto;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    cursor: pointer;
}

.seprator {
    margin-top: 20px;
}

#mydiv2 {
    padding: 5px;
    width: 92%;
    margin-left: 20px;
}

.dates a {
    padding: 1px 5px;
}

.post.question-post {
    margin-left: 20px;
    padding-bottom: 5px;
}

.question-post .user-block .question-statement {
    margin-left: 0px;
}

.post .user-block {
    margin-bottom: 5px;
}

.edit-question {
    display: none;
}

.question-action-buttons {
    text-align: right;
}

.save-answer,
.save-desc,
.save-short-desc {
    margin-top: 10px;
    background: #3c8dbc;
    color: #fff;
    border: none;
    width: 80px;
    height: 25px;
}

.action-buttons a {
    display: block;
    color: #fff;
    padding: 10px 0px;
    margin: 8px 0px;
    text-align: center;
}

.timeline-item.edit-desc {
    display: none;
    padding-bottom: 20px!important;
}

.timeline-item.edit-desc label {
    display: block;
    margin: 10px;
}

.timeline-item.edit-desc .form-group {
    padding-right: 10px;
    margin-right: 2%;
}

.timeline-item.edit-desc textarea {
    display: block;
    padding: 10px;
    margin: 10px;
    width: 98.5%;
    min-height: 150px;
}

#description .timeline-item {
    border-radius: 0px;
}

.timeline-item.edit-short-desc {
    display: none;
    padding-bottom: 20px!important;
}

.timeline-item.edit-short-desc label {
    display: block;
    margin: 10px;
}

.timeline-item.edit-short-desc .form-group {
    padding-right: 10px;
    margin-right: 2%;
}

.timeline-item.edit-short-desc textarea {
    display: block;
    padding: 10px;
    margin: 10px;
    width: 98.5%;
    min-height: 150px;
}

#shortdescription .timeline-item {
    border-radius: 0px;
}

ul.dates li .date-edit {
    display: none;
    position: absolute;
}

ul.dates li:hover .date-edit {
    display: inline-block;
}

.profile-username .full-edit {
    display: none;
    position: absolute;
    top: -7px;
    right: -3px;
}

.profile-username:hover .full-edit {
    display: inline-block;
}

.profile-username {
    position: relative;
}

.profile-username b {
    font-weight: 500;
}

#description pre,
#shortdescription pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-word;
    word-wrap: normal;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.editable {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    display: none;
}

.editable input {
    width: 99%;
    margin: 10px 0px;
    padding: 5px 7px;
}

.web-container {
    position: relative;
}

#web-edit {
    position: absolute;
    top: 0px;
    z-index: 100;
    background: rgba(0, 0, 0, 0.6);
    right: 0;
    display: none;
}

#web-edit span {
    color: #fff!important;
}

.web-container:hover #web-edit {
    display: inline-block;
    color: #fff!important;
}

.company-container {
    position: relative;
}

#company-edit {
    position: absolute;
    top: -5px;
    z-index: 100;
    right: 0;
    display: none;
}

.company-container:hover #company-edit {
    display: inline-block;
}

.email-container {
    position: relative;
}

#email-edit {
    position: absolute;
    top: -5px;
    z-index: 100;
    right: 0;
    display: none;
}

.email-container:hover #email-edit {
    display: inline-block;
}

.bsName-container {
    position: relative;
}

#bsName-edit {
    position: absolute;
    top: -5px;
    z-index: 100;
    right: 0;
    display: none;
}

.bsName-container:hover #bsName-edit {
    display: inline-block;
}

.sector-text {
    position: relative;
}

.sector-container:hover #sector-edit {
    display: inline-block;
}

#sector-edit {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}

.save-sector {
    margin-top: 10px;
    background: #3c8dbc;
    color: #fff;
    border: none;
    width: 80px;
    height: 25px;
}

.edit-sector {
    display: none;
}

.user-logo-container {
    position: relative;
    text-align: center;
}

.user-logo-container .profile-user-img {
    margin: 0 auto;
    min-width: 100px;
    max-width: 250px;
    min-height: 100px;
    width: 100%;
    padding: 3px;
    border: 3px solid #d2d6de;
}

.user-logo-container:hover .btn-file {
    display: block;
}

#edit-logo {
    cursor: pointer;
}

.user-logo-container .btn-file {
    display: none;
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.user-imgs-container {
    padding: 10px 20px;
    border-bottom: 2px solid #eee;
}

.user-imgs-container h3 {
    margin: 10px 0px;
    font-size: 20px;
}

.user-imgs-container .img-container {
    position: relative;
    max-width: 500px;
    margin: 0 auto;
}

.user-imgs-container .edit-button {}

.user-imgs-container .btn.btn-file {
    margin-top: 10px;
    padding-top: 3px;
    background: #3c8dbc;
    color: #fff;
    border: none;
    width: 80px;
    height: 25px;
}

.user-imgs {
    margin: 0 auto;
    width: 100%;
    padding: 3px;
    border: 3px solid #d2d6de;
}

.loading-image {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.loading-image img {
    margin-top: 20%;
}

.thumbsUp-container {}

.thumbsUp-container:hover #resetThumbsUp {
    display: block;
}

#resetThumbsUp {
    float: right;
    display: none;
}

.acn-container {
    position: relative;
}

#acn-edit {
    position: absolute;
    top: -5px;
    z-index: 100;
    right: 0;
    display: none;
}

.acn-container:hover #acn-edit {
    display: inline-block;
}

.ipAddress-container {
    position: relative;
}

#ipAddress-edit {
    position: absolute;
    top: -5px;
    z-index: 100;
    right: 0;
    display: none;
}

.ipAddress-container:hover #ipAddress-edit {
    display: inline-block;
}

.address-container {
    position: relative;
}

#address-edit {
    position: absolute;
    top: -5px;
    z-index: 100;
    right: 0;
    display: none;
}

.address-container:hover #address-edit {
    display: inline-block;
}

.address-container .address-text {}

.address-container .address-text div.text-muted {}

.address-container .address-text div.text-muted span {}

.address-container .address-text div.text-muted span.street {}

.address-container .address-text div.text-muted span.town {}

.address-container .address-text div.text-muted span.state {}

.address-container #address-edit {}

.address-container .address {}

.address-container .address input {}

#address-save {
    margin-top: 10px;
    background: #3c8dbc;
    color: #fff;
    border: none;
    width: 80px;
    height: 25px;
}

.edit-category.sp-question {
    margin: 10px 0px;
}

.edit-category.sp-question select {}


/*Edit from Haider*/

.modal-dialog {
    /*width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;*/
}

.modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
}



section.listing{
    background: rgba(238, 238, 238, 0.44);
}
section.listing .container{}
section.listing .filters{}
section.listing .list{}
section.listing .list .list-item:hover img{
    opacity: 0.7;
    transform: rotate(10deg);
}
section.listing .list .list-item{
    padding: 20px;
    display: inline-block;
    position: relative;
    width: 23.1%;
    margin: 20px 0.5%;
    vertical-align: top;
    border-radius: 8px;
    padding-bottom: 10px;
    background: #fff;
    min-height: 380px;
}
section.listing .list .list-item .item-image{}
section.listing .list .list-item .item-image a{}
section.listing .list .list-item .item-image div.img-container{
    margin-bottom: 0px;
    min-height: 200px;
} 
section.listing .list .list-item .item-image span{
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
    display: block;
    padding-top: 100%;
    background-color: rgba(0, 0, 0, 0.07);
    border-radius: 15px 15px 0px 0px;
} 
section.listing .list .list-item .item-image img.item-logo{
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 0px 10%;
    border-radius: 15px 15px 0 0;
    transition: .3s ease;
    cursor: pointer;
} 
section.listing .list .list-item .item-detail{}
section.listing .list .list-item .item-detail .item-name{}
section.listing .list .list-item .item-detail .item-name a{}
section.listing .list .list-item .item-detail .item-name h3{
}
section.listing .list .list-item .item-detail .item-status{
    margin: 5px 0px 10px;
}
section.listing .list .list-item .item-detail .item-status span{
}
section.listing .list .list-item .item-detail .item-brief-detail{}
section.listing .list .list-item .item-detail .description{}
section.listing .list .list-item .item-detail .description p{}