/*Common Style*/

body {
     font-family: "Open Sans";
     word-break: break-word;
}

iframe {
    width:100% !important;
    height:430px !important;
}
.col-md-6 iframe {
    width:100% !important;
    height:220px !important;
}
.col-md-4 iframe {
    width:100% !important;
    height:160px !important;
}

 /*header Style*/

.header_search .form-control {
    height: 40px;
    margin: 0 auto;
    padding: 0px 35px;
    background: #fff url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
}
.header_search .btn {
    padding: 10px;
    min-width: 200px;
}
.header_search .dropdown-menu {
    left: 240px;
    min-width: 220px;
    top: inherit;
}
.header_search .dropdown-menu li{
    width:100%;
    border-bottom:1px solid gainsboro;
    margin: 0 auto;
}
.header_search .dropdown-menu li a {
    line-height: 26px;
}
.header_search .dropdown-menu li>:hover, .header_search .dropdown-menu li>:focus {

    background-color: rgba(153, 153, 153, 0.1) !important;
}
.custom-line {
    margin-top: 0px;
    margin-bottom: 5px;
    border: 0;
    max-width: 80%;
    border-top: 2px solid rgba(255, 255, 255, 0.5);
}
.investor_custom-line {
    margin-top: 0px;
    margin-bottom: 15px;
    border: 0;
    max-width: 40%;
    border-top: 2px solid rgba(255, 255, 255, 0.5);
}
.investor_row{
    max-width: 75%;
    margin: 0 auto;
}
.investor_custom-line {
    margin-top: 0px;
    margin-bottom: 20px;
    border: 0;
    max-width: 40%;
    border-top: 2px solid rgba(255, 255, 255, 0.5);
}
.investor_custom-row {
    max-width: 50%;

    margin: 0 auto;
}

.custom-row{
    max-width: 95%;
    margin-left: 20px;
}
label.label_find {
    float: left;
    padding: 0px 30px;
}
.search-button {
    margin: 47px 0px !important;
    float: left;
}
.banner_image img {
    height: 650px;
}
.header_search {
    /*margin-top: 110px;*/
    left: 0;
    right: 0;
    background: rgba(51, 51, 51, 0.5);
    border-radius: 8px;
    padding: 20px 20px;
    /* height: 250px; */
    max-width: 700px;
    position: absolute;
    z-index: 100;
    color: white;
}

.logotext{
    position: absolute;
    /*left: 230px;*/
    z-index: 100;
    color: white;
    margin-left: auto;
    margin-right: auto;

}

.open {
   position: relative;
}
.header_search .dropdown-menu {
    left: 0;
    right: 0;
    min-width: 220px;
    top: inherit;
    max-width: 150px;
    margin: 0 auto;
}

.jumbotron.errorpadding
{
    padding-top: 0;
    padding-bottom: 0px !important;
}

.img-responsive{

    width: 100% !important;

}
.jumbotron .container {

width: 100% !important;
}
/* style for google custom Search list front page*/

.gsc-results-wrapper-overlay {

    margin-top: 50px !important;
    margin-left: 40px !important;
}
.gsc-input {
    color: #666;
}
.gsc-control-cse{

    background: rgba(51, 51, 51, 0.5) !important;
    border-radius: 5px;
}
.cse .gsc-control-cse, .gsc-control-cse{
    border: none !important;

}
.gsc-search-box table{
    background: rgba(51, 51, 51, 0.5) !important;
    border-radius: 5px;

}
.gsc-search-box table td{
    padding: 10px 0px 10px 10px;
    border-bottom: none #eee;
}
input.gsc-input {
    border-color: #BBBBBB;
    border-radius: 3px;
}

    input.gsc-input {
    border-color: #BBBBBB;
    background: none !important;
    text-indent: 0px !important;
}

.header_search   table {
    background-color: #fff !important;
}

    /* style for blog list front page*/


.blog{
    margin-top:70px;
    margin-bottom:70px;

}
.blog-content{
    text-align: justify;
    clear: both;
    margin-bottom: 15px;
}
.blog-title a {

    font-size: 20px;
}
.paragraph p{
    color: #999;
    line-height: 2;
    padding: .5em 0;
    margin: 0;
    font-size: 16px;
}

.blog-date{
    font-size: 13px;
    float: left;
    margin: 0 !important;
    padding: 0 !important;
    line-height: 1;
    display: block;
}
.date-text{
    cursor: pointer;
    float: left;
    margin: 0 8px 0 0;
    padding: 0 0 4px 0;
}
.blog-comments{
    float: right;
    margin: 0 !important;
    padding: 0 0 4px 0 !important;
    line-height: 1;
    font-size:13px;
}
.blog-list li{
    cursor: pointer;
    text-decoration:none;
    line-height: 1;
    display: block;
    margin-top:10px;
}
.blog-list li a{
    cursor: pointer;
    text-decoration:none;
    line-height: 1;
    display: block;
    margin-top:16px;

}
.Latest-Blogs{
    margin-left: 39px;
}
.blog-post-separator {
    margin-top: 38px;
    border-bottom: 3px solid #efefef;
}
.blog-separator {
    margin: 10px;
}
.btn-reply{
    margin-left: 20px;
    margin-bottom: 20px !important;
    background-color: #626262 !important;;
}
.blog_side_bar{
    float: right;
    position: fixed;
    right: 0;

}
/* blog list  page  end*/

/* media Queries */
@media (min-width: 1200px){
    .container {
        width: 70%;
    }
}
@media only screen and (max-width: 992px){

    .investor_row {
        max-width: 100%;
        margin: 0 auto;
    }
    /*header Style*/
    .header_search{
        /* margin-top: 160px; */
        /*padding: 6px 54px;*/
        /* height: 240px; */
        /* width: 550px; */
    }

.gsc-search-box table td
  {
    border-bottom: none #eee;
    width: 90% !important;
    display: inline-block;

}
    label.label_find {
        float: left;
        padding: 0px 58px;
        margin-bottom: 0px;
    }
    .gsc-search-box table  td:nth-child(2){
        width: 20% !important;

    }
    .gsc-search-box table  td:nth-child(3){
        display: none;
        width: 0% !important;

    }



    .banner_image img {
        height: 450px;
    }
    .leftsidebar .navbar-nav > li > a {
        text-transform: uppercase;
        padding: 9px 35px 9px !important;
    }
    table td{
        width:100% !important;
    }
    .logotext{
        position: absolute;
        top: 40vh;
        left: 0;
        z-index: 100;
        color: white;
        /*display: -webkit-box;*/
        margin: 0 auto;
        max-width: 75%;
    }
    .social {
        width:100% !important;

    }
    .blog_side_bar{
        float: none !important;
        position: relative !important;
        width: 100%;

    }
    .blog_side_bar ul {
        padding-left: 0px !important;
    }
    .Latest-Blogs {
        margin-left: 0px !important;
    }
    iframe {  /*use for video*/
        width:100% !important;
        height:350px !important;
    }
    .col-md-6 iframe {
        width:100% !important;
        height:300px !important;
    }
    .col-md-4 iframe {
        width:100% !important;
        height:300px !important;
    }
}
@media only screen and (max-width: 910px) and (min-device-width: 768px) {
    body {
        margin-top: 60px !important;
    }
    .gsc-results-wrapper-overlay {

        margin-top: 50px !important;
        margin-left: 40px !important;
    }
    .gsc-results-wrapper-overlay {
        margin-top: 120px !important;
        margin-left: 30px !important;
    }
    .custom-row {
        max-width: 95%;
        margin-left: 10px;
    }
 }

@media only screen and (max-width: 768px){

    /*header Style*/
    .header_search{
        /* margin-top: 90px; */
        /* padding: 0px 20px; */
        /* height: 280px; */
        /* width: 550px; */
    }

    .custom-row {
        max-width: 95%;
        margin-left: 12px;
    }
    .logotext{
        /* max-width: 80%; */
    }
    .gsc-results-wrapper-overlay {
        margin-top: 60px !important;
        margin-left: 20px !important;
    }
    .banner_image img {
        height: 400px;
    }
    .search-button {
        margin: 0px 0px !important;
        float: none;
    }
    .leftsidebar .navbar-nav > li > a {
        text-transform: uppercase;
        padding: 9px 35px 9px !important;
    }
    .login_button {
        display: none;
    }
    .navbar-header .nav>li{
        border-bottom: 1px solid gainsboro;
    }
    .left-login-b{
        margin-top: 0px !important;

    }

    .nav>li {  /* style for right side nav*/
        position: relative;
        display: block;
        border-bottom: 1px solid gainsboro;
    }
    .searchbar {
        width: 100% !important;
        text-align: center !important;
    }
   .right_sidebar .navbar-nav{
        margin-top: 50px !important;
    }
    .leftsidebar {
        padding: 12px 10px 0px !important;
    }
    /*Footer style */
    .container-fluid .footer .footer-wraper .container {
        width: 730px !important;
    }
    .blog {

        margin-left: 20px;
        margin-right: 20px;
    }
    label.label_find {

        padding: 0px 50px;
    }

}
@media only screen and (max-width: 762px){

    .navbar-nav {
        margin: 50px 0px !important;
    }
    .leftsidebar {
        padding: 13px 0px 0px;
    }
    .searchbar {
        width: 100%;
        text-align: center;
    }


}
@media only screen and (max-width: 568px){
.custom-row {
    max-width: 100%;
    margin-left: 0px;
}

    .investor_custom-row {
        max-width: 95%;
        margin: 0 auto;
    }
    .top_investor.header_search {
        margin-top: 60px;
        height: 220px;
    }
    .custom-row {
    max-width: 95%;
    margin-left: 8px;
}
    .logotext {

        top: 0px;

    }
    .header_search{
        /* margin-top: 68px; */
        /* padding: 0px 16px; */
        /* height: 270px; */
        /* max-width: 90%; */
    }
    .banner_image img {
        height: 350px;
    }
    .search-button {
        margin: 0px 0px !important;
        float: none;
    }
    .navbar-nav > li > a {
        text-transform: uppercase;
        padding: 9px 35px 9px !important;
    }
    .login_button {
        display: none;
    }
    .navbar-nav {
        /* margin: 50px 0px !important;*/
    }
    .navbar-header .nav>li{
        border-bottom: 1px solid gainsboro;
    }
    .left-login-b{
        margin-top: 0px !important;

    }

}
@media only screen and (max-width: 430px) {
    .navbar-toggle {
        margin-right: 0px;
    }

    .header_search {
        /* margin-top: 60px; */
        /* height: 185px; */
        padding: 20px 0px;
        max-width: 95%;
    }

    .header_search h3 {
        font-size: 16px !important;
        max-width: 80%;
        margin: 0 auto;
    }

    .header_search .form-control {
        /* height: 30px; */
    }

    .header_search .col-xs-12 {
        padding-bottom: 0px;
    }

    .header_search .btn {
        padding: 6px;
        min-width: 70%;
        margin-top: 12px;
    }

    .header_search .dropdown-menu {
        left: 0;
        right: 0;
        min-width: 190px;
        top: inherit;
        max-width: 150px;
        margin: 0 auto;
    }


    .banner_image img {
        height: 250px;
    }
    .search-button {
        margin: 0px 0px !important;
        float: none;
    }
    .btn-lg{
        padding: 5px !important;
    }
    .leftsidebar .navbar-nav > li > a {
        text-transform: uppercase;
        padding: 9px 35px 9px !important;
    }
    .login_button {
        display: none;
    }
    .navbar-nav {
        /*margin: 50px 0px !important;*/
    }
    .navbar-header .nav>li{
        border-bottom: 1px solid gainsboro;
    }
    .left-login-b{
        margin-top: 0px !important;

    }
    .container {
       /* padding-right: 0px; */
       -moz-padding-end: 15px;
    }
    .container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse {
        margin-right: 0px;
        margin-left: -15px;
        -moz-margin-end: -15px;
    }
}
/* End Media Queries  */

/*Common Style*/
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: gainsboro !important;
}

.navbar-inverse .navbar-toggle {
    border-color: gainsboro;
}

a{
    color:#00a3fe;
    font-family: "Open Sans";
    font-weight: normal;
    font-size: 12px;
    text-decoration: none !important;
}
a:hover{
    color:#656565;
}
img.img-responsive_logo {
    float: left;
    margin-left: 7%;
    margin-top: 10px;
    height: 30px;
}
.btn-blue{
    background-color: #00a3fe;
    color:#ffffff;
    font-family: "Open Sans";
    font-weight: normal;
    font-size: 12px;
    border-radius: 2px;
    text-transform: uppercase;
    border: 1px solid #00a3fe;
}
.btn-blue:hover{
    background-color: #fff;
    color:#00a3fe;
    border: 1px solid #00a3fe;
    font-family: "Open Sans";
    font-weight: normal;
    font-size: 12px;
    border-radius: 2px;
    text-transform: uppercase;
}
tr:nth-child(even) {
    background-color: rgba(255,255,255,0.6);
}

table {

    background-color: rgba(0, 166, 254, 0.77);
    width: 100% !important;
    margin: 0 !important;
}
td, th {
    padding: 0;
    padding: 10px 0px 0px 10px;
}
@media only screen and (max-width: 760px),
(min-device-width: 268px) and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }



    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;


    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
}

.jumbotron.errorpadding {padding-bottom:60px;background:#eee;}
.jumbotron.jumbo-padding {padding-top:125px;padding-bottom:60px;background:#eee;}
.jumbotron.slider-padding {padding:0;margin-top:60px;}
.jumbotron.errorpadding img {margin-bottom:15px;}
.jumbotron.text-center img {display:block;margin:0 auto;}
.carouselpadding {margin-top:45px;}
.carousel-inner > .item > a > img  {margin:0 auto!important;width:100%;}
.navbar-brand img {
    height: 36px!important;
}

.navbar-brand {
    float: left!important;
    font-size: 18px!important;
    line-height: 20px!important;
    padding: 12px 15px;
	height: 60px!important;
}
 .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{

     color: black !important;

}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus{

    color: black !important;

}
.nav>li>a:hover, .nav>li>a:focus {
    color: black !important;
    background-color: #F7F4D9 !important;

}
.navbar-nav > li > a {
    text-transform:uppercase;
    color: black !important;
    padding: 18px 10px!important;
}

.btn-lg, .btn-sm, .btn-xs {margin:5px 0;display:inline-block;}
.row h1,.row .h1,.row h2,.row .h2,.row h3,.row .h3 {margin-bottom: 15px;}
.list-group-item > a > .badge {float: right;}
.meta {font-size:0.8em;}
.text-right {text-align:right;}
.text-left {text-align:left;}
.float-right {float:right;}
.float-left {float:left;}


/*added by Hamid Raza */

.btn-dark {
    color: #fff;
    font-size: 1em !important;
    height: auto !important;
    line-height: 1.25 !important;
    font-family: 'Lato', sans-serif;
    background-color:#6d6d6d;
	border-radius: 3px  !important;
	display: block;
    max-width: 200px;
    margin: 0 auto;
	text-align:center !important;
}

.btn-dark:hover, .btn-dark:focus, .btn-dark.focus, .btn-dark:active, .btn-dark.active, .open>.dropdown-toggle.btn-dark {
    color: #fff;
    background-color: #494949; 
    border-color: #494949;
	text-decoration: none !important; 
}
 
a:-webkit-any-link {
	}
a:hover, a:focus {
    text-decoration: None !important;
}

.darken #header-wrap{
		background-color: rgba(102, 102, 102, 0.95) !important;
		}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
		background-color: #none !important;
		}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus{
	    background-color:none !important;

		}
.dropdown-menu {
                background-color: #eeeeee !important;
			   }
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus{
    color: #777 !important;
    background-color: #dddddd !important;
			}
.dropdown-menu>li>a{
    color: #777 !important;
    display: block;
    padding: 3px 20px;
    clear: both;
    white-space: nowrap;
    list-style-type: none;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
		}
/*footer style*/
.footer .container {
   text-align: center;
   margin: 0 auto !important;
   background: rgba(204, 204, 204, 0.960784); !important;
}
.footermenu .nav>li>a:hover, .nav>li>a:focus {

    background-color: rgba(204, 204, 204, 0.960784);
    font-family: "Open Sans";
    font-weight: normal;
    font-size: 12px;
    text-decoration: none !important;

}
.footermenu .navbar-nav>li :before {
    /* float: none; */
    /* width: 100%; */
    content: "";
    border-color: transparent #111;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative;
}
.social ul {
    padding: 0px;
    text-align: left;

}
.paragraph_footer ul {
    padding: 0px;


}
.paragraph_footer p{

    text-align: left;
    font-family: "Open Sans";
    font-weight: normal;
    font-size: inherit;
    text-decoration: none !important;
}
.footer-wraper p{




}
.footer-wraper p a {

    color: #656565 !important;
    font-family: "Open Sans";
    font-weight: normal;
    font-size: 12px;
    text-decoration: none !important;
}

.footermenu h4 {
    text-align: left;
    margin: 0 auto;
    border-bottom: 1px solid gray;
    padding-bottom: 7px;
}
.social  h4 {
    text-align: left;
    margin: 0 auto;
    border-bottom: 1px solid gray;
    padding-bottom: 7px;

}


.socials  li :before{   content: "";
    border-color: transparent #111;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative;
}
.footermenu .navbar-nav{
	 margin-top: 5px;
     float: none;
	 }

.footermenu .navbar-nav > li > a {
	 padding:0px 15px 0px 15px !important;
	 margin-top:8px;
     float: none;
     font-family: "Open Sans";
     font-weight: normal;

     font-size: inherit !important;
     text-decoration: none !important;
     text-align: center;
 }
.footermenu .navbar-nav>li
  {
    float: none;
    width: 100%;
    padding-bottom: 0px;
}
.footermenu .navbar-nav > li > a {
    font-family: "Open Sans";
    font-size: inherit !important;
    float: none;
    text-align: left;
 }
.footer-wraper{
    background: rgba(204, 204, 204, 0.960784) !important;
    margin: 24px 0 0 0 !important;
    width: 100% !important;
    z-index: 10;
    height: 100%;
    position: relative;
    margin: 0 auto;
}
.footer-wraper .nav>li>a:hover, .nav>li>a:focus {
    color: black !important;
    background-color: rgba(153, 153, 153, 0.1) !important;
}
.social ul li{
    list-style-type: none;
    padding: 3px;
    /*float: left;*/
    /* display: none; */
    display: block;
}
.social ul{
    margin-top:18px;
}
.social a{
  font-family: inherit !important;
  font-size: inherit !important;
  padding-left: 20px;
}

.headerstyle{   /*For empty header image*/
	height:200px !important;
	background: #656565;
	}


li.dropdown:hover .dropdown-menu /* Drop Down Menu */
{
	 display:block !important;

}


@media screen and (min-width: 768px){
	.jumbotron{
		padding:0 !important;
		margin-bottom: 0px !important;
	    }
	}
/*================== Common  style  ====================*/

.navbar-inverse {
     background-color: #fff !important;
     opacity: 1 !important;
     border-top: 3px solid #4c83c3 !important;
     border-bottom: 1px solid #CECECE !important;
     margin-bottom: 0px;
}
.navbar-inverse .navbar-nav>li>a {

    font-family:inherit !important;
    font-size: inherit !important;

}




.navbar-inverse .navbar-nav>li>a:focus{
    background-color: #dddddd !important;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: blue !important;
}

/*================== Style for site logo image  ====================*/
.bimage{
    z-index: 10;

}

.container.home {   /*for default header top margin  home template */
    margin-top: 40px;
}

.responsive_logo_hide{
    display: none;
}

@import url(https://fonts.googleapis.com/css?family=Roboto);


/*header style */

.leftsidebar .navbar-nav > li > a {
    text-transform:uppercase;
    padding: 9px 12px 9px !important;
}
.leftsidebar .nav .navbar-nav  li {

    position: relative;
    line-height: 7px !important;
    display: inline-block;
    width: 100%;
}
.leftsidebar ul  {

    width: 100%;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {background-color: transparent;}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 220px;
}



#sidebar-wrapper {
    opacity: 1 !important;
    z-index: 1000;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
    display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}

#page-content-wrapper {
    width: 100%;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative;
    line-height: 7px !important;
    display: inline-block;
    width: 100%;
}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #1c1c1c;
    -webkit-transition: width .2s ease-in;
    -moz-transition:  width .2s ease-in;
    -ms-transition:  width .2s ease-in;
    transition: width .2s ease-in;

}
.sidebar-nav li:first-child a {
    color: #fff;
    background-color: #1a1a1a;
}
.sidebar-nav li:nth-child(2):before {
    background-color: #ec1b5a;
}
.sidebar-nav li:nth-child(3):before {
    background-color: #79aefe;
}
.sidebar-nav li:nth-child(4):before {
    background-color: #314190;
}
.sidebar-nav li:nth-child(5):before {
    background-color: #279636;
}
.sidebar-nav li:nth-child(6):before {
    background-color: #7d5d81;
}
.sidebar-nav li:nth-child(7):before {
    background-color: #ead24c;
}
.sidebar-nav li:nth-child(8):before {
    background-color: #2d2366;
}
.sidebar-nav li:nth-child(9):before {
    background-color: #35acdf;
}
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
    -moz-transition:  width .2s ease-in;
    -ms-transition:  width .2s ease-in;
    transition: width .2s ease-in;

}

.sidebar-nav li a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 15px 10px 30px;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 44px;
}
.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/
.leftsidebar{
    padding: 18px 10px 0px;
}

.leftsidebar li{
    width:100%;
    border-bottom: 1px solid gainsboro;

}
.hamburger {
    position: fixed;
    top: 15px;
    z-index: 999;
    display: block;
    width: 32px;
    height: 32px;
    margin-left: 15px;
    background: transparent;
    border: none;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
    outline: none;
}
.hamburger.is-closed:before {
    content: '';
    display: block;
    width: 100px;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
    opacity: 1;
    display: block;
    -webkit-transform: translate3d(-100px,0,0);
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
    position: absolute;
    left: 0;
    height: 4px;
    width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
    background-color: #1a1a1a;
}
.hamburger.is-closed .hamb-top {
    top: 5px;
    -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
    top: 50%;
    margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
    bottom: 5px;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
    top: 0;
    -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
    bottom: 0;
    -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
    background-color: #1a1a1a;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
    top: 50%;
    margin-top: -2px;
}
.hamburger.is-open .hamb-top {
    -webkit-transform: rotate(45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
    -webkit-transform: rotate(-45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
    content: '';
    display: block;
    width: 100px;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
    opacity: 1;
    display: block;
    -webkit-transform: translate3d(-100px,0,0);
    -webkit-transition: all .35s ease-in-out;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

/* King Styles */
.jumbotron.full-screen{
    background-size: cover!important;
    height: 100vh;
    position: relative;
    background-position: center !important;
    background-attachment: scroll;
    width: 100%;
    max-width: 100%;
    display: block;
}
.logotext {
    top: 40vh;
}

/****** Ahsan ****/
.header_search form{
    position: relative;
}
.header_search form .form-control{
     background: #fff;
     padding: 0px 15px;
}
.header_search form .form-control.submit-icon {
    max-width: 20px;
    height: 20px!important;
    background: url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: none;
    float: right;
    padding: 17px 20px;
    right: 10px;
    position: absolute;
    top: 3px;
    background-color: #eee;
    background-position: 10px 10px;
}
.search-filter-container{
    border: #eee solid 2px;
    display: inline-block;
    width: 20%;
    vertical-align: top;
    min-width: 190px;
    margin-right: 2%;
    padding-bottom: 40px;
    /* background: rgba(238, 238, 238, 0); */
}
.search-filter-container .range-filters{
max-width: 80%;
margin: 10px auto;
}
.range-filters form{

}
.range-filters input{

}
.range-filters label{

margin: 15px 0px;

padding: 15px 0px 0px;

font-size: 15px;

border-top: solid 4px #eee;

display: block;
}
.range-filters span{
    margin: 0px;
    display: block;
    text-align: center;
}
.search-results-container{
    display: inline-block;
    width: 68%;
    vertical-align: top;
    /*background: rgba(0, 0, 0, 0.79);*/
    padding: 20px 10px;
    box-sizing: border-box;
    background: #f3f3f3;
}
.item-container{
    border: 2px solid #eee;
    margin: 10px auto;
    padding: 10px 20px;
    background: #fff;
    /*border-radius: 0px 25% 0px 25%;*/
    /*background-color: #466579;*/
    width: 95%;
   /* box-shadow:
    inset 0 7em 10em -5em rgba(255,255,255,0.6),
     0 0.3em 0.5em -0.2em rgb(255, 255, 255),
      0 1em 2em -0.75em rgba(234, 234, 234, 0.75),
     0 1em 3em -0.5em rgba(58, 58, 58, 0.5),
      0 3em 3em -0.25em rgba(60, 60, 60, 0.2);*/
}
.header_search.item-container{
	position: static;
    height: initial;
    border: initial;
    border-radius: initial;
}
.header_search.item-container form .form-control.submit-icon {
	top:8px;
}
.header_search.item-container form input.form-control{
    border-radius: 0px;
    height: 50px;
}
.item-container-top{
    padding: 20px 10px;
    /*background: #eee;*/
    /*border-radius: 0px 15px 15px 0px;*/
    /*border: solid 2px #fff;*/
}
.status-container{
    display: inline-block;
    float: right;
}
.status-container .status{

}
.item-container-top .Title{
	float: left;
}
.item-container-top .Title h2{
	margin:0px;
}
.item-container-top .Title h2 a{
    display: block;
    margin: 0px;
    color: #474747;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}
.item-container-middle{
	display: inline-block;
    width: 33%;
    vertical-align: top;
    padding: 10px 0px;
    margin-right: 2%;
}
.logo-image{
	max-width: 200px;
}
.logo-image img{
    width: 100%;
}
.item-container-bottom{
	display: inline-block;
    width: 63%;
    vertical-align: top;
    padding: 10px 0px;
}
.item-meta{

}
.item-meta p{
    margin: 0px;
}
.item-meta .email{

}
.item-meta .added-date{

}
.descriptions{

}
.descriptions .desc{
	margin: 0px;
}
.descriptions label{
    margin: 5px 0px 0px;
}
.item-container-bottom .social{

}
.filter-heading{
    background-color: #eee;
    padding: 10px 5px;
}
.filter-heading h3{
    margin: 5px 0px;
    font-size: 20px;
    font-weight: 600;
    color: #474747;
}
.range-filters label:first-child{
    border:none;
    margin-top: 0px;
    padding-top: 5px;
}
@media(max-width:860px){
    .navbar-nav > li > a {
        padding: 18px 4px!important;
    }

}
@media(max-width:768px) {
    .navbar_logo{
        display: block;
        width: 100%;
        max-width: 85%;
        margin: 0 auto;
        text-align: center;
        left: 0;
        position: absolute;
        right: 0;
    }
    img.img-responsive_logo{
        /* width: 100%; */
        /* max-width: 70%; */
        margin: 0px;
        float: none;
        height: auto;
    }
    .navbar-header-container{

/* display: inline-block; */

/* float: right; */

}
}
@media(max-width:860px) and (min-width: 767px){
    .searchbar {
        width: 215px!important;
        /* float: none!important; */
        /* display: inline-block!important; */
    }
}

@media (max-width: 300px){
    img.img-responsive_logo {

width: 100%;

max-width: 70%;
    }
}