body {
    font-family: "Open Sans";

}
a{
    color:#00a3fe;
    font-family: "Open Sans";
    font-weight: normal;
    font-size: 12px;
    text-decoration: none !important;
}
a:hover{
    color:#656565;
}
.btn-blue{
    background-color: #00a3fe;
    color:#ffffff;
    font-family: "Open Sans";
    font-weight: normal;
    font-size: 12px;
    border-radius: 2px;
    text-transform: uppercase;
    border: 1px solid #00a3fe;
}
.btn-blue:hover{
    background-color: #fff;
    color:#00a3fe;
    border: 1px solid #00a3fe;
    font-family: "Open Sans";
    font-weight: normal;
    font-size: 12px;
    border-radius: 2px;
    text-transform: uppercase;
}
tr:nth-child(even) {
    background-color: rgba(255,255,255,0.6);
}

table {

    background-color: rgba(0, 166, 254, 0.77);
    width: 100% !important;
    margin: 0 !important;
}
td, th {
    padding: 0;
    padding: 10px 0px 0px 10px;
}
@media only screen and (max-width: 760px),
(min-device-width: 268px) and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }



    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;


    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
}
@media (min-width: 1200px){
  .container {
        width: 70%;
    }
}
.jumbotron.errorpadding {padding-bottom:60px;background:#eee;}
.jumbotron.jumbo-padding {padding-top:125px;padding-bottom:60px;background:#eee;}
.jumbotron.slider-padding {padding:0;margin-top:60px;}
.jumbotron.errorpadding img {margin-bottom:15px;}
.jumbotron.text-center img {display:block;margin:0 auto;}
.carouselpadding {margin-top:45px;}
.carousel-inner > .item > a > img  {margin:0 auto!important;width:100%;}
.navbar-brand img {
    height: 36px!important;
}

.navbar-brand {
    float: left!important;
    font-size: 18px!important;
    line-height: 20px!important;
    padding: 12px 15px;
	height: 60px!important;
}
 .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{

     color: black !important;
     background-color:  rgba(153, 153, 153, 0.61) !important;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus{

    color: black !important;
    background-color: rgba(153, 153, 153, 0.61) !important;
}
.nav>li>a:hover, .nav>li>a:focus {
    color: black !important;
    background-color: rgba(153, 153, 153, 0.61) !important;
}
.navbar-nav > li > a {
    text-transform:uppercase;
    color: black !important;
    padding: 18px 12px 18px !important;

}

.btn-lg, .btn-sm, .btn-xs {margin:5px 0;display:inline-block;}
.row h1,.row .h1,.row h2,.row .h2,.row h3,.row .h3 {margin-bottom: 15px;}
.list-group-item > a > .badge {float: right;}
.meta {font-size:0.8em;}
.text-right {text-align:right;}
.text-left {text-align:left;}
.float-right {float:right;}
.float-left {float:left;}


/*added by Hamid Raza */

.btn-dark {
    color: #fff;
    font-size: 1em !important;
    height: auto !important;
    line-height: 1.25 !important;
    font-family: 'Lato', sans-serif;
    background-color:#6d6d6d;
	border-radius: 3px  !important;
	display: block;
    max-width: 200px;
    margin: 0 auto;
	text-align:center !important;
}

.btn-dark:hover, .btn-dark:focus, .btn-dark.focus, .btn-dark:active, .btn-dark.active, .open>.dropdown-toggle.btn-dark {
    color: #fff;
    background-color: #494949; 
    border-color: #494949;
	text-decoration: none !important; 
}
 
a:-webkit-any-link {
	text-dacoration:none !important;
	}
a:hover, a:focus {
    text-decoration: None !important;
}

.darken #header-wrap{
		background-color: rgba(102, 102, 102, 0.95) !important;
		}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
		background-color: #none !important;
		}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus{
	    background-color:none !important;

		}
.dropdown-menu {
                background-color: #eeeeee !important;
			   }
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus{
    color: #777 !important;
    background-color: #dddddd !important;
			}
.dropdown-menu>li>a{
    color: #777 !important;
    display: block;
    padding: 3px 20px;
    clear: both;
    white-space: nowrap;
    list-style-type: none;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
		}
/*footer style*/
.footer .container {
   text-align: center;
   margin: 0 auto !important;
   background: rgba(204, 204, 204, 0.960784); !important;
}
.footermenu .nav>li>a:hover, .nav>li>a:focus {

    background-color: rgba(204, 204, 204, 0.960784);
    font-family: "Open Sans";
    font-weight: normal;
    font-size: 12px;
    text-decoration: none !important;

}
.social ul {
    padding: 0px;

}
.paragraph_footer ul {
    padding: 0px;

}
.paragraph_footer p{

    font-family: "Open Sans";
    font-weight: normal;
    font-size: 12px;
    text-decoration: none !important;
}
.footer-wraper p{


    text-align: center;
    font-family: "Open Sans";
    font-weight: normal;
    font-size: inherit !important;
    text-decoration: none !important;
}
.footer-wraper p a {

    color: #656565 !important;
    font-family: "Open Sans";
    font-weight: normal;
    font-size: 12px;
    text-decoration: none !important;
}
.footermenu{
    min-height: 225px;
    border-right: 1px solid #fff;
}
.footermenu .navbar-nav{
	 margin-top: 30px;
     float: none;
	 }

.footermenu .navbar-nav > li > a {
	 padding:0px 15px 0px 15px !important;
	 margin-top:8px;
     float: none;
     font-family: "Open Sans";
     font-weight: normal;

     font-size: inherit !important;
     text-decoration: none !important;
     text-align: center;
 }
.footermenu .navbar-nav>li
  {
   float: none;
   /*display: !*#b0b0b6*!;*/

   width: 100%;
}
.footermenu .navbar-nav > li > a {
    font-family: "Open Sans";
    font-size: inherit !important;
    float: none;
    text-align: center;
 }
.footer-wraper{
    background: rgba(204, 204, 204, 0.960784) !important;
    margin: 24px 0 0 0 !important;
    width: 100% !important;
    z-index: 10;
    height: 100%;
    position: relative;
    margin: 0 auto;
}
.footer-wraper .nav>li>a:hover, .nav>li>a:focus {
    color: black !important;
    background-color: rgba(153, 153, 153, 0.1) !important;
}
.social ul li{
    list-style: none;
    padding: 3px;
}
.social ul{
    margin-top:10px;
}
.social a{
  font-family: inherit !important;
  font-size: inherit !important;
  padding-left: 20px;
}
@media (max-width:992px) {
    .social {
        width:100% !important;

    }

}
.headerstyle{   /*For empty header image*/
	height:200px !important;
	background: #656565;
	}


li.dropdown:hover .dropdown-menu /* Drop Down Menu */
{
	 display:block !important;

}
/* style for blog list front page*/
.blog{
	 margin-top:70px;
	 margin-bottom:70px;

	}
.blog-content{
	text-align: justify;
    clear: both;
    margin-bottom: 15px;
}
.paragraph p{
	color: #999;
	line-height: 2;
    padding: .5em 0;
	margin: 0;
	font-size: 16px;
	}

.blog-date{
	font-size: 13px;
    float: left;
    margin: 0 !important;
    padding: 0 !important;
    line-height: 1;
	display: block;
	}
.date-text{
    cursor: pointer;
    float: left;
    margin: 0 8px 0 0;
    padding: 0 0 4px 0;
}
.blog-comments{
	float: right;
    margin: 0 !important;
    padding: 0 0 4px 0 !important;
    line-height: 1;
	font-size:13px;
	}
.blog-list li{
	cursor: pointer;
	text-decoration:none;
	line-height: 1;
	display: block;
	margin-top:10px;
	}
.blog-list li a{
	cursor: pointer;
	text-decoration:none;
	line-height: 1;
	display: block;
	margin-top:16px;

	}
.Latest-Blogs{
	margin-left: 39px;
	}
.blog-post-separator {
    margin-top: 38px;
    border-bottom: 3px solid #efefef;
}
.blog-separator {
    margin: 10px;
}
.btn-reply{
	margin-left: 20px;
   margin-bottom: 20px !important;
    background-color: #626262 !important;;
	}
.blog_side_bar{
	position:fixed !important;
	right:0;
 }
/* blog list  page  end*/

@media screen and (min-width: 768px){
	.jumbotron{
		padding:0 !important;
		margin-bottom: 0px !important;
	    }
	}
/*================== Common  style  ====================*/
.navbar-inverse2{
    background-color: rgba(204, 204, 204, 0.67) !important;
}
.navbar-inverse {
    /* background-color: hsla(201, 100%, 50%, .5) !important; */
    opacity: 1 !important;
    border-top: 3px solid #4c83c3 !important ;
    border-bottom: aliceblue !important;
}
.navbar-inverse .navbar-nav>li>a {

    font-family:inherit !important;
    font-size: inherit !important;

}




.navbar-inverse .navbar-nav>li>a:focus{
    background-color: #dddddd !important;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: blue !important;
}

/*================== Style for site logo image  ====================*/
.bimage{
    z-index: 10;

}
.logotext{
    position: absolute;
    top: 50px;
    z-index: 100;
    color: white;
    margin-left: auto;
    margin-right: auto;

}
@media (min-width:992px) {
    .logotext{
        position: absolute;
        top: 100px;
        z-index: 100;
        color: white;
        display: -webkit-box;
        margin-left: auto;
        margin-right: auto;
        max-width: 59%;
    }

}
@media (max-width:767px) {

}
@media (max-width:992px) {
    .bimage .img-responsive {
        height: 200px;
    }

}



@import url(https://fonts.googleapis.com/css?family=Roboto);


/*header style */

.leftsidebar .navbar-nav > li > a {
    text-transform:uppercase;
    padding: 9px 12px 9px !important;
}
.leftsidebar .nav .navbar-nav  li {

    position: relative;
    line-height: 7px !important;
    display: inline-block;
    width: 100%;
}
.leftsidebar ul  {

    width: 100%;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {background-color: transparent;}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 220px;
}



#sidebar-wrapper {
    opacity: 1 !important;
    z-index: 1000;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    overflow-x: hidden;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
    display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}

#page-content-wrapper {
    width: 100%;

}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative;
    line-height: 7px !important;
    display: inline-block;
    width: 100%;
}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #1c1c1c;
    -webkit-transition: width .2s ease-in;
    -moz-transition:  width .2s ease-in;
    -ms-transition:  width .2s ease-in;
    transition: width .2s ease-in;

}
.sidebar-nav li:first-child a {
    color: #fff;
    background-color: #1a1a1a;
}
.sidebar-nav li:nth-child(2):before {
    background-color: #ec1b5a;
}
.sidebar-nav li:nth-child(3):before {
    background-color: #79aefe;
}
.sidebar-nav li:nth-child(4):before {
    background-color: #314190;
}
.sidebar-nav li:nth-child(5):before {
    background-color: #279636;
}
.sidebar-nav li:nth-child(6):before {
    background-color: #7d5d81;
}
.sidebar-nav li:nth-child(7):before {
    background-color: #ead24c;
}
.sidebar-nav li:nth-child(8):before {
    background-color: #2d2366;
}
.sidebar-nav li:nth-child(9):before {
    background-color: #35acdf;
}
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
    -moz-transition:  width .2s ease-in;
    -ms-transition:  width .2s ease-in;
    transition: width .2s ease-in;

}

.sidebar-nav li a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 15px 10px 30px;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 44px;
}
.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.leftsidebar li{
    width:100%;

}
.hamburger {
    position: fixed;
    top: 15px;
    z-index: 999;
    display: block;
    width: 32px;
    height: 32px;
    margin-left: 15px;
    background: transparent;
    border: none;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
    outline: none;
}
.hamburger.is-closed:before {
    content: '';
    display: block;
    width: 100px;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
    opacity: 1;
    display: block;
    -webkit-transform: translate3d(-100px,0,0);
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
    position: absolute;
    left: 0;
    height: 4px;
    width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
    background-color: #1a1a1a;
}
.hamburger.is-closed .hamb-top {
    top: 5px;
    -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
    top: 50%;
    margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
    bottom: 5px;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
    top: 0;
    -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
    bottom: 0;
    -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
    background-color: #1a1a1a;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
    top: 50%;
    margin-top: -2px;
}
.hamburger.is-open .hamb-top {
    -webkit-transform: rotate(45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
    -webkit-transform: rotate(-45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
    content: '';
    display: block;
    width: 100px;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
    opacity: 1;
    display: block;
    -webkit-transform: translate3d(-100px,0,0);
    -webkit-transition: all .35s ease-in-out;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(250,250,250,.8);
    z-index: 1;
}